<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img
          src="../../img/teamup.svg"
          alt=""
          width="150"
          height="60"
          class="d-inline-block align-text-top"
        />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/teacherInformation">
          Profesora
        </a>
        <a class="nav-link" href="/degreeInformation">
          Título
        </a>
        <a class="nav-link" href="/studentInformation">
          Estudiantes
        </a>
        <a class="nav-link" href="/coursesInformation">
          Cursos
        </a>
      </div>
    </div>
  </div>
</nav>